<nav class={`hidden h-32 w-screen justify-center xl:flex`}>
  <ul class="flex items-center gap-8">
    <li>
      <a
        href="/"
        class={`font-title text-xl font-bold uppercase text-white hover:text-red duration-200 `}>
        home
      </a>
    </li>
    <li>
      <a
        href="/nosotros"
        class={`font-title text-xl font-bold uppercase text-white hover:text-red duration-200 
            }`}>
        nosotros
      </a>
    </li>
    <li>
      <a
        href="/formacion"
        class={`font-title text-xl font-bold uppercase text-white hover:text-red duration-200`}>
        formacion
      </a>
    </li>
    <li>
      <a
        href="/produccion"
        class={`font-title text-xl font-bold uppercase text-white hover:text-red duration-200`}>
        producción de ficción
      </a>
    </li>
    <li>
      <a
        href="/espacio"
        class={`font-title text-xl font-bold uppercase text-white hover:text-red duration-200 `}>
        nuestro espacio
      </a>
    </li>
    <li>
      <a
        href="/contacto"
        class={`font-title text-xl font-bold uppercase text-white hover:text-red duration-200`}>
        contacto
      </a>
    </li>
  </ul>
</nav>
