---
import { Image } from '@astrojs/image/components';
import Adrian from '../../assets/nosotros/Adrian.jpg';
---

<div>
  <h3
    class="mb-8 text-center font-title text-4xl font-bold tracking-tighter text-red xsm:text-5xl">
    Adrian Stratta<br />
    Founder
  </h3>
  <div class="mx-auto max-w-[900px]">
    <Image
      format="webp"
      alt=""
      src={Adrian}
      width={1066}
      height={1600}
      quality={75}
      class="mx-auto mb-7 h-auto w-[90%] max-w-[400px] xl:float-left xl:mb-0 xl:mr-6"
    />
    <p
      class="mx-auto mb-10 max-w-[900px] font-text text-lg text-white">
      Nacido en el interor de Córdoba en 1983, Adrián Sratta
      comenzó sus estudios de teatro y danza en 1993.
      <br /><br />
      Allí se ha formado con profesores como Silvia Dutto, Juan
      Manuel Amado Diaz, Darío Albarracín y José Nieto, realizando
      varias obras de teatro y espectáculos de danza.
      <br /><br />
      En el año 2003 se instala en la Ciudad de Buenos Aires
      donde empieza su formación con Victor Laplace, continúa
      con la escuela de Agustín Alezzo y en el Instituto Nacional
      de Arte Dramático, investigando distintas técnicas de actuación
      con importantes docentes, egresándose de la escuela de
      teatro de Buenos Aires de Raúl Serrano.
      <br /><br />
      En paralelo desarrolla seminarios de danza contemporánea,
      Contact improvisation y talleres de diferentes géneros
      teatrales y corporales.
      <br /><br />
      Su experiencia teatral se desarrolla en diferentes rubros:
      actor, asistente de director, productor y como Director,
      dramaturgo e intérprete de su propia Obra Resurge Danza
      Teatro.
      <br /><br />
      En televisión, se forma en actuación frente a cámara con
      Sabrina Kirzner, Natalia Monteferrario, Soledad Correa,
      Ileana Rippel, Estela Cristiani entre otros y participó
      en importantes series para la productora Pol-ka como "Quiero
      vivir a tu lado", "Simona", "Las Estrellas" y "El Host"
      con producción de Fox LATAM. En cine participó de varios
      cortometrajes y largometrajes.
      <br /><br />
      En diciembre de 2020 de instala en la ciudad de Bilbao,
      España, donde obtiene su diplomatura en la carrera de Interpretación
      en la Ecuela de creación cinematográfica de Bilbao, donde
      en 2021 también comienza a impartir clases como docente
      de Iniciación a la interpretación. También escribe y dirige
      su primer serie: Maria en Bilbao.
      <br /><br />
      Actualmente es fundador de La Trucco Studio & Films donde
      además de impartir clases desarrolla proyectos audiovisuales
      como guionista y director.
    </p>
  </div>
</div>
