---
import { Image } from '@astrojs/image/components';
import Carla from '../../assets/nosotros/Carla.jpg';
---

<div>
  <h3
    class="mb-8 text-center font-title text-4xl font-bold tracking-tighter text-red xsm:text-5xl">
    Carla Tamayo<br />
    Audiovisual
  </h3>
  <div class="mx-auto max-w-[900px]">
    <Image
      format="webp"
      alt=""
      src={Carla}
      width={500}
      height={750}
      quality={100}
      class="mx-auto mb-7 h-auto w-[90%] max-w-[400px] xl:float-left xl:mb-0 xl:mr-6"
    />
    <p
      class="mx-auto mb-10 max-w-[900px] font-text text-lg text-white">
      Carla A. Tamayo nació en Bilbao en 2001. Guionizó
      varias obras de teatro a la temprana edad de diez años
      en las que también participó como actriz.
      <br /><br />
      A los catorce años consiguió su primer papel protagonista
      en el cortometraje “La chica de rosa” donde también fue
      parte del equipo de realización. Continuó escribiendo guiones
      y organizando varios eventos. A los dieciocho años redactó
      y editó la revista “La Voz del Pueblo” y presentó la gala
      de despedida de Arrigorriaga BHI.
      <br /><br />
      En 2020 formó parte del equipo de jurado Zinebi 62, experiencia
      que repitió un año después en Zinegoak 18. Comenzó su carrera
      como directora con el cortometraje “Tiempos Molestos” a
      la temprana edad de los veinte años, cuando también consiguió
      su diplomatura de audiovisuales.
      <br /><br />
      Realizó más cortometrajes como directora, guionista e incluso
      productora mientras lo compaginaba con diferentes cursos
      relacionados con el mundo audiovisual. Aunque también probó
      suerte en otros sectores como directora de casting, directora
      de fotografía y ayudante de dirección.
      <br /><br />
      Se sacó un Máster en dirección de cine y televisión mientras
      trabajaba en el teatro grabando en la obra “El más extraño
      idilio” en el VII Festival de Teatro de Abadiño y como
      técnico de luz en “La Terapia”.
      <br /><br />
      Actualmente coordina el área de cinematografía de La Trucco
      Studio & Films, además de impartir clases de cortometraje
      y guión.
    </p>
  </div>
</div>
