---
import { Image } from '@astrojs/image/components';
import Marce from '../../assets/nosotros/Marce.jpg';
---

<div>
  <h3
    class="mb-8 text-center font-title text-4xl font-bold tracking-tighter text-red xsm:text-5xl">
    Marce Misson<br />
    Marketing
  </h3>
</div>
<div class="mx-auto max-w-[900px]">
  <Image
    format="webp"
    alt=""
    src={Marce}
    width={1066}
    height={1600}
    quality={75}
    class="mx-auto mb-7 h-auto w-[90%] max-w-[400px] xl:float-left xl:mb-0 xl:mr-6"
  />
  <p
    class="mx-auto mb-10 max-w-[900px] font-text text-lg text-white">
    Nacido en la Ciudad Autónoma de Buenos Aires en 1987,
    Marcelo Misson comenzó sus estudios en Marketing en 2006
    en la Universidad Argentina de la Empresa (Fundación
    UADE).
    <br /><br />
    En 2015 continuó su formación en la carrera de Publicidad
    especializado en medios de comunicación.
    <br /><br />
    En paralelo inicia su experiencia laboral en el equipo de
    comunicación del grupo RDT como asistente de medios. A partir
    de ese momento continuó su carrera profesional en diferentes
    agencias tales como IPG Media Brands y Havas Argentina, brindando
    servicios a marcas del grupo Danone, Mattel Inc, Latam Airlines
    y Claro Argentina.
    <br /><br />
    En 2020 se instala en Bilbao trabajando de manera telemática
    con la primera agencia de marketing de Latinoamérica especializada
    en brindar servicios a compañías de la industria crypto y
    tecnología blockchain. Durante 2021 se unió al equipo de
    la Escuela de Creación Cinematográfica de Bilbao a cargo
    del marketing y comunicación de la misma.
    <br /><br />
    Actualmente es co fundador de La Trucco Studio & Films, donde
    también está a cargo del marketing y la publicidad del estudio.
  </p>
</div>
