---
import Adrian from './Adrian.astro';
import Carla from './Carla.astro';
import Marce from './Marce.astro';
---

<main
  class="relative min-h-screen bg-black px-[5%] pb-20 pt-24 md:pt-32 lg:min-h-[calc(100vh-128px)]">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-5xl font-bold uppercase tracking-tighter text-red xsm:text-6xl md:text-left">
    NOSOTROS
  </h1>
  <p
    class="mx-auto mb-10 max-w-[800px] font-text text-lg text-white">
    La Trucco es un estudio de formación de intérpretes y
    creación de ficciones que nace en 2022 con el objetivo
    de brindar una formación integral a personas con y sin
    experiencia en el mundo audiovisual.<br /><br /> En nuestro
    espacio, desarrollamos ficciones y/o proyectos audiovisuales
    tales como cortometrajes, series, mini series, videoclips,
    videobooks, etc. para que nuestros alumnos puedan vivenciar
    una experiencia real de cómo gestionar sus propios trabajos
    dentro de la industria. <br /><br /> En la actualidad, se
    requieren cada vez más habilidades para realizar tus proyectos.
    Nosotros podemos brindarte las herramientas y el acompañamiento
    que necesitas para lograrlo.
  </p>

  <p
    class="mx-auto mb-16 max-w-[800px] font-text text-2xl text-white">
    Bienvenid@s a La Trucco
  </p>
  <h2
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-5xl font-bold uppercase tracking-tighter text-red xsm:text-6xl md:text-left">
    EQUIPO
  </h2>
  <Adrian />
  <div class="xl:h-6"></div>
  <Carla />
  <div class="xl:h-6"></div>
  <Marce />
</main>
