---
import MasInfoBtn from '../../MasInfoBtn.astro';
---

<main
  class="relative min-h-[calc(100vh-128px)] bg-black px-[5%] pb-20 pt-24 md:pt-32 xl:pt-20">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-4xl font-bold uppercase tracking-tighter text-red xsm:text-5xl sm:text-6xl md:text-left">
    AUDIOVISUAL<br />
  </h1>
  <p
    class="mx-auto mb-10 max-w-[800px] font-text text-lg text-white">
    Este curso anual está apuntado a personas de todas las
    edades que quieran interiorizarse en el mundo
    audiovisual, sin necesidad de haberse formado
    anteriormente.
    <br /><br />
    Las clases son teóricas pero sobre todo prácticas, trabajando
    en equipo, aprendiendo integralmente esta disciplina y consta
    de una jornada semanal de 3 horas.
    <br /><br />
    En la diplomatura se trabajarán los componentes más importantes
    iniciando desde la historia del cine, pasando por las fases
    de producción, escritura de guion, narración audiovisual,
    utilización de la cámara, dirección de actores, sonido, montaje,
    etc, para al final de la cursada realizar un rodaje real
    con todo lo aprendido.
  </p>
  <MasInfoBtn color="audiovisual" />
</main>
