---
import MasInfoBtn from '../../MasInfoBtn.astro';
---

<main
  class="relative min-h-[calc(100vh-128px)] bg-black px-[5%] pb-20 pt-24 md:pt-32 xl:pt-20">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-4xl font-bold uppercase tracking-tighter text-red xsm:text-5xl sm:text-6xl md:text-left">
    INTERPRETACIÓN<br /> NIVEL AVANZADO
  </h1>
  <p
    class="mx-auto mb-10 max-w-[800px] font-text text-lg text-white">
    El curso anual de interpretación avanzado está apuntado
    a personas de todas las edades que hayan transitado de
    alguna manera la interpretación y quieran profundizar y
    adquirir más conocimientos. <br /><br />
    Este curso consta de 8 horas semanales divididas en 2 días
    a la semana distribuidas en 4 horas cada uno. El primer día
    se reparte en 3 horas de interpretación y 1 hora de análisis
    de texto. El segundo día se reparte en 2 horas de expresión
    corporal y 2 horas de técnica vocal. Cada asignatura está
    a cargo de un profesor diferente especializado en la materia.
    <br /><br />
    Este curso tiene como objetivo que cada alumno pueda desarrollarse
    y obtener más herramientas según necesite, por lo que además
    de interpretación contamos con formación corporal, vocal
    y análisis de textos.
    <br /><br />Además, abordamos un completo temario que
    transita desde grabación de material, “selftapes”,
    preparación para castings, etc. hasta el abordaje de
    diferentes géneros como comedia, terror, drama, entre
    otros y las características principales de los mismos,
    logrando que cada alumno aprenda la autogestión de sus
    trabajos, creando sus propios personajes y realizando
    desde una muestra a público abierto de los mismos, hasta
    grabar su propio cortometraje con todo un equipo técnico
    a su disposición.
  </p>
  <MasInfoBtn color="avanzado" />
</main>
