---
import MasInfoBtn from '../../MasInfoBtn.astro';
---

<main
  class="relative bg-black px-[5%] pb-20 pt-20 lg:min-h-[calc(100vh-128px)]">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-4xl font-bold uppercase tracking-tighter text-red drop-shadow-3xl sm:text-5xl md:text-left md:text-5xl">
    CURSO TRIEMSTRAL DE<br />INTERPRETACIÓN ANTE CÁMARA
  </h1>
  <p
    class="mx-auto mb-10 max-w-[800px] font-text text-lg text-white">
    Este curso está apuntado a actrices y actores que
    quieran entrenar, profundizar y adquirir nuevas
    herramientas para lograr una actuación realista,
    orgánica pero sobre todo llamativa y personal. <br /><br
    />

    Trabajaremos con diferentes técnicas para potenciar las
    habilidades que cada alumno tiene, y descubrir y
    corregir las dificultades que puedan aparecer. En cada
    clase trabajaremos con escenas de diferentes géneros,
    que cuando estén en su mejor versión, entregaremos al
    alumno editadas para que puedan utilizar para su propio
    videobook. También abordaremos técnicas de preparación
    para casting y selftapes. <br /><br />

    En la actualidad es muy importante estar prevenidos para
    la inmediatez, y adquirir herramientas que nos faciliten
    ese proceso es fundamental. Las vacantes son limitadas
    para garantizar una trabajo y seguimiento personal. <br
    /><br />

    Es un curso donde apuntaremos a un trabajo integral para
    que cada participante reconozca sus aspectos a mejorar
    pero sobre todo descubra herramientas para superarlos,
    disfrutando de sus virtudes y potenciando su identidad
    escénica.
  </p>
  <MasInfoBtn color="camara" />
</main>
