---
import MasInfoBtn from '../../MasInfoBtn.astro';
---

<main
  class="relative bg-black px-[5%] pb-20 pt-24 md:pt-32 lg:min-h-[calc(100vh-128px)] xl:pt-20">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-4xl font-bold uppercase tracking-tighter text-red sm:text-6xl md:text-left">
    CURSO TRIEMSTRAL DE<br />INTERPRETACIÓN ANTE CÁMARA
  </h1>
  <p
    class="mx-auto mb-10 max-w-[800px] font-text text-lg text-white">
    Este curso está apuntado a actrices y actores que
    quieran entrenar, profundizar y adquirir nuevas
    herramientas para lograr una actuación realista,
    orgánica pero sobre todo llamativa y personal.
    <br /><br />

    Trabajamos con diferentes técnicas para potenciar las
    habilidades que cada alumno tiene, y descubrir y
    corregir las dificultades que puedan aparecer. <br /><br
    />

    En las clases abordamos escenas de diferentes géneros,
    que cuando están en su mejor versión, grabamos y
    entregamos al alumno editadas para que pueda utilizarlas
    para su propio videobook. También abordaremos técnicas
    de preparación para casting y selftapes. <br /><br />

    <MasInfoBtn color="camara" />
  </p>
</main>
