---
import MasInfoBtn from '../../MasInfoBtn.astro';
---

<main
  class="relative bg-black px-[5%] pb-20 pt-24 md:pt-32 lg:min-h-[calc(100vh-128px)] xl:pt-20">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-4xl font-bold uppercase tracking-tighter text-red xsm:text-5xl sm:text-6xl md:text-left">
    CURSO TRIMESTRAL<br /> DE CORTOMETRAJE
  </h1>
  <p
    class="mx-auto mb-10 max-w-[800px] font-text text-lg text-white">
    El curso intensivo de cortometraje est치 apuntado a
    personas de todas las edades que quieran interiorizarse
    en el mundo audiovisual, sin necesidad de haberse
    formado anteriormente. Las clases son te칩ricas pero
    sobre todo pr치cticas, trabajando en equipo y aprendiendo
    integralmente esta disciplina.
    <br /><br />
    Al final del curso los alumnos tendr치n la experiencia real
    de grabar un cortometraje con todo lo aprendido.
  </p>
  <MasInfoBtn color="corto" />
</main>
