---
import MasInfoBtn from '../../MasInfoBtn.astro';
---

<main
  class="relative bg-black px-[5%] pb-20 pt-20 lg:min-h-[calc(100vh-128px)]">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-4xl font-bold uppercase tracking-tighter text-red drop-shadow-3xl xsm:text-5xl sm:text-6xl md:text-left md:text-7xl">
    CURSO TRIMESTRAL<br /> DE INTERPRETACIÓN
  </h1>
  <p
    class="mx-auto mb-10 max-w-[800px] font-text text-lg text-white">
    El curso trimestral de interpretación está apuntado a
    personas de todas las edades que quieran interiorizarse
    en el mundo de la actuación, sin necesidad de haberse
    formado anteriormente. <br /><br />Es un espacio para
    descubrir la profesión y las capacidades individuales
    para abordar personajes, realizar escenas
    cinematográficas y teatrales, encontrando la identidad
    de cada alumno, pasando por diferentes experiencias
    profesionales que permiten una formación acorde a la
    actualidad, acompañados de un equipo personal y
    artístico en cada paso para facilitar el proceso y
    disfrutarlo.
  </p>
  <MasInfoBtn color="interpretacion" />
</main>
