---
import MasInfoBtn from '../../MasInfoBtn.astro';
---

<main
  class="relative bg-black px-[5%] pb-20 pt-24 md:pt-32 lg:min-h-[calc(100vh-128px)] xl:pt-20">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-4xl font-bold uppercase tracking-tighter text-red xsm:text-5xl sm:text-6xl md:text-left">
    CURSO TRIMESTRAL<br /> DE IMPROVISACIÓN
  </h1>
  <p
    class="mx-auto mb-10 max-w-[800px] font-text text-lg text-white">
    La improvisación teatral es una disciplina en la cual se
    ejecutan escenas e historias, sin tener nada preparado
    de antemano, ni guión, ni personajes, ni trama, es
    decir, creando e ideando todo al momento.
    <br /><br />
    Esto quiere decir que, los artistas que realizan la improvisación,
    son los responsables de la creación total de la obra a representar.
    De esa manera, cada obra que se representa es inédita e irrepetible.
    <br /><br />
    Las obras improvisadas pueden darse, bien para la creación
    de escenas cortas y concretas donde se narra un único suceso,
    o bien para la elaboración de historias más elaboradas con
    diferentes géneros y estructuras dramáticas
  </p>
  <MasInfoBtn color="improvisacion" />
</main>
