---
import MasInfoBtn from '../../MasInfoBtn.astro';
---

<main
  class="relative min-h-[calc(100vh-128px)] bg-black px-[5%] pb-20 pt-20">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-4xl font-bold uppercase tracking-tighter text-red drop-shadow-3xl xsm:text-6xl sm:text-7xl md:text-left">
    INTERPRETACIÓN<br /> NIVEL INICIAL
  </h1>
  <p
    class="mx-auto mb-10 max-w-[800px] font-text text-lg text-white">
    El curso anual de iniciación a la interpretación está
    apuntado a personas de todas las edades que quieran
    interiorizarse en el mundo de la actuación, sin
    necesidad de haberse formado anteriormente.
    <br /><br />
    Es un espacio para descubrir la profesión y las capacidades
    individuales para abordar personajes, realizar escenas cinematográficas
    y teatrales, encontrando la identidad de cada alumno, pasando
    por diferentes experiencias profesionales que permiten una
    formación acorde a la actualidad, acompañados por un equipo
    personal y artístico en cada paso para facilitar el proceso
    y disfrutarlo.
  </p>
  <MasInfoBtn color="purple" />
</main>
