---
import SocialLinks2 from './SocialLinks2';
---

<main
  class="relative bg-black px-[5%] pb-20 pt-32 lg:min-h-[calc(100vh-128px)] xl:pt-20">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-5xl font-bold uppercase tracking-tighter text-red xsm:text-6xl md:text-left">
    CONTACTO
  </h1>
  <SocialLinks2 />
</main>
