---
import SocialLinks2 from './SocialLinks2';
---

<main
  class="relative bg-black px-[5%] pb-20 pt-20 lg:min-h-[calc(100vh-128px)]">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-5xl font-bold uppercase tracking-tighter text-red drop-shadow-3xl xsm:text-7xl sm:text-8xl md:text-left md:text-8xl">
    CONTACTO
  </h1>
  <SocialLinks2 />
</main>
