<p
  class="absolute bottom-1 left-1/2 w-full translate-x-[-50%] text-center font-text text-sm text-red">
  Todos los derechos reservados 2023 -
  <span class="font-bold">La Trucco</span>
  <br class="sm:hidden" />{' '}
  <span class="hidden sm:inline"> -</span>{' '}
  Desarrollado por{' '}
  <a
    href="https://penalva-portfolio.vercel.app/"
    target="_blank"
    aria-label="link a portfolio"
    class="border-b">
    Pablo
  </a>
</p>
