---
import MasInfoBtn from './MasInfoBtn.astro';
---

<main
  class="relative bg-black px-[5%] pb-20 pt-24 md:pt-32 lg:min-h-[calc(100vh-128px)] xl:pt-20">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-5xl font-bold uppercase tracking-tighter text-red xsm:text-6xl md:text-left">
    PRODUCCIÓN<br /> DE FICCIÓN
  </h1>
  <p
    class="mx-auto mb-10 max-w-[800px] font-text text-lg text-white">
    Contar historias es una pasión que nos llena de
    felicidad, por eso en La Trucco nos encargamos de
    concretarlas. Para esto, trabajamos con productoras
    locales, armando un equipo técnico profesional para
    grabar dichas historias en diferentes formatos:
    Cortometrajes, series, miniseries, videos, etc. Además
    contamos con un equipo artístico formado por actrices y
    actores profesionales, pero también con alumnos del
    estudio, ya que consideramos que no hay mejor forma de
    aprender que practicando. En este momento nos
    encontramos en desarrollo de una miniserie creada por
    nuestro equipo, y también gestionamos las propuestas de
    nuestros alumnos, logrando grabar sus proyectos y
    ocupándonos luego de su distribución.
    <br /><br />
    Nos mueve la fuerza de lo posible, y por eso nos unimos a
    profesionales de la industria que nos acompañan en el proceso
    para lograrlo.
  </p>
  <MasInfoBtn color="purple" />
</main>
