---
import MasInfoBtn from './MasInfoBtn.astro';
---

<main
  class="relative bg-black px-[5%] pb-20 pt-24 md:pt-32 lg:min-h-[calc(100vh-128px)] xl:pt-20">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-5xl font-bold uppercase tracking-tighter text-red xsm:text-6xl md:text-left">
    PRODUCCIÓN<br /> DE FICCIÓN
  </h1>
  <p
    class="mx-auto mb-10 max-w-[800px] font-text text-lg text-white">
    Contar historias es una pasión que nos llena de
    felicidad, por eso en La Trucco nos encargamos de
    concretarlas. Para esto, trabajos con un equipo técnico
    profesional para grabar dichas historias en diferentes
    formatos: Cortometrajes, series, miniseries, videos,
    etc.

    <br /><br />
    Además contamos con un equipo artístico formado por intérpretes
    profesionales, pero también con alumnos del estudio, ya que
    consideramos que no hay mejor forma de aprender que practicando.
    <br /><br />
    En este momento nos encontramos en desarrollo de una miniserie
    creada por nuestro equipo, en proceso de ensayos de una performance
    teatral, y también gestionando las propuestas de nuestros
    alumnos, para grabar sus historias y posteriormente distribuirlas.
  </p>
  <MasInfoBtn color="purple" />
</main>
