---
export interface Props {
  title: string;
}
import '@fontsource/poppins';
import Copyright from '../components/Copyright.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body class={`relative min-h-screen bg-black`}>
    <slot />
    {title != 'La Trucco' && <Copyright />}
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'League Spartan';
    src: url('/fonts/LeagueSpartan-Bold.woff2')
      format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }
</style>
