---
export interface Props {
  title: string;
}
import '@fontsource/poppins';
import Copyright from '../components/Copyright.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/Favicon.png"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>

    <meta
      name="description"
      content="Estudio de formación de intérpretes y creación de ficciones"
    />
    <!-- LINK PREVIEW -->

    <meta
      property="og:url"
      content="https://www.latrucco.com/"
    />
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:title"
      content="La Trucco"
    />
    <meta
      property="og:description"
      content="Estudio de formación de intérpretes y creación de ficciones"
    />
    <meta
      property="og:image"
      content="https://www.latrucco.com/Logo-preview.svg"
    />

    <meta
      name="description"
      content="Tamales y Humitas D' María"
    />
    <!-- LINK PREVIEW -->
  </head>
  <body class={`relative min-h-screen bg-black`}>
    <slot />
    {title != 'La Trucco' && <Copyright />}
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'League Spartan';
    src: url('/fonts/LeagueSpartan-Bold.woff2')
      format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }
</style>
