<div
  class="mx-auto grid grid-cols-1 justify-items-center gap-8 md:w-[650px] md:grid-cols-2">
  <a
    href="/formacion/interpretacion"
    class="mx-auto flex h-36 w-full max-w-[22rem] items-center justify-center rounded-full bg-interpretacion text-center font-title text-2xl font-bold uppercase leading-6 text-white duration-300 hover:bg-white hover:text-interpretacion md:rounded-none md:rounded-tl-[50px]"
    >CURSO TRIMESTRAL<br />DE INTERPRETACIÓN</a
  >
  <a
    href="/formacion/interpretacionAnteCamara"
    class="mx-auto flex h-36 w-full max-w-[22rem] items-center justify-center rounded-full bg-camara text-center font-title text-2xl font-bold uppercase leading-6 text-white duration-300 hover:bg-white hover:text-camara md:rounded-none md:rounded-tr-[50px]"
    >CURSO TRIMESTRAL<br />DE INTERPRETACIÓN<br /> ANTE CÁMARA</a
  >
  <a
    href="/formacion/improvisacion"
    class="mx-auto flex h-36 w-full max-w-[22rem] items-center justify-center rounded-full bg-improvisacion text-center font-title text-2xl font-bold uppercase leading-6 text-white duration-300 hover:bg-white hover:text-improvisacion md:rounded-none md:rounded-bl-[50px]"
    >CURSO TRIMESTRAL<br /> DE IMPROVISACIÓN</a
  >
  <a
    href="/formacion/cortometraje"
    class="mx-auto flex h-36 w-full max-w-[22rem] items-center justify-center rounded-full bg-corto text-center font-title text-2xl font-bold uppercase leading-6 text-white duration-300 hover:bg-white hover:text-corto md:rounded-none md:rounded-br-[50px]"
    >CURSO INTENSIVO<br />DE CORTOMETRAJE</a
  >
</div>
