<div
  class="mx-auto mb-10 grid grid-cols-1 justify-items-center gap-8 md:w-[650px] md:grid-cols-2">
  <a
    href="/formacion/inicial"
    class="mx-auto flex h-36 w-full max-w-[22rem] items-center justify-center rounded-full bg-purple text-center font-title text-2xl font-bold uppercase leading-6 text-white duration-300 hover:bg-white hover:text-interpretacion md:rounded-none md:rounded-tl-[50px]"
    >interpretación <br /> nivel inicial</a
  >
  <a
    href="/formacion/avanzado"
    class="mx-auto flex h-36 w-full max-w-[22rem] items-center justify-center rounded-full bg-avanzado text-center font-title text-2xl font-bold uppercase leading-6 text-white duration-300 hover:bg-white hover:text-camara md:rounded-none md:rounded-tr-[50px]"
    >interpretación <br /> nivel avanzado</a
  >
  <a
    href="/formacion/intensivo"
    class="mx-auto flex h-36 w-full max-w-[22rem] items-center justify-center rounded-full bg-intensivo text-center font-title text-2xl font-bold uppercase leading-6 text-white duration-300 hover:bg-white hover:text-improvisacion md:rounded-none md:rounded-bl-[50px]"
    >INTERPRETACIÓN<br /> AVANZADO INTENSIVO</a
  >
  <a
    href="/formacion/audiovisual"
    class="mx-auto flex h-36 w-full max-w-[22rem] items-center justify-center rounded-full bg-audiovisual text-center font-title text-2xl font-bold uppercase leading-6 text-white duration-300 hover:bg-white hover:text-corto md:rounded-none md:rounded-br-[50px]"
    >AUDIOVISUAL</a
  >
</div>
