---
import CursosYTalleres from './CursosYTalleres.astro';
import Diplomaturas from './Diplomaturas.astro';
---

<main
  class="relative min-h-screen bg-black px-[5%] pb-40 pt-24 md:pt-32 xl:pt-20">
  <h1
    class="mx-auto mb-10 max-w-[800px] text-center font-title text-5xl font-bold uppercase tracking-tighter text-red xsm:text-6xl md:text-left">
    formación
  </h1>
  <p
    class="mx-auto mb-10 max-w-[800px] font-text text-lg text-white">
    Los cursos y talleres de La Trucco están dirigidos a
    todas las personas que quieran ser parte del mundo de la
    interpretación.<br /><br /> Para lograrlo, hemos diseñado
    diferentes planes de estudios que abordan teoría, técnicas
    de interpretación, improvisación, entrenamiento corporal,
    técnicas vocales, análisis de texto, entre otros. Los mismos
    están adaptados al recorrido personal de cada alumno para
    que pueda obtener herramientas que potencien sus habilidades
    e identidad artística.<br /><br /> Creemos que los intérpretes
    pueden encontrar su lugar dentro de la industria a través
    de la autogestión. En nuestro estudio te acompañamos en ese
    proceso para que puedas crear tus propios proyectos artísticos.<br
    /><br /> En La Trucco formamos intérpretes dúctiles que puedan
    abordar personajes de cualquier género con verdad y organicidad.
  </p>
  <h2
    class="mb-10 text-center font-title text-6xl font-bold tracking-tighter text-red">
    Diplomaturas
  </h2>
  <Diplomaturas />
  <h2
    class="mb-10 text-center font-title text-6xl font-bold tracking-tighter text-red">
    Cursos y talleres
  </h2>
  <CursosYTalleres />
</main>
